*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    height: 100%;
}
body{
    min-height: 100vh; 
    height: auto;      

    padding-bottom: 50px; 
}
header{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    color:aliceblue
}
.conteinerExibir{
    margin: 0 auto;
    margin-top: 150px;
    width: 800px;
    min-height: 500px;
    height: auto;
    background-color: rgb(86, 85, 85);
    border-radius: 2rem 2rem 0.5rem 0.5rem;
    padding: 0px 10px 20px 10px;
}
.conteiner{
    /* background-color: rgb(226, 95, 43); */
    height: 100px;
    display: flex;
    /* justify-items: center; */
    /* align-content: center; */
    justify-content: space-evenly;
    /* align-content: center; */
    align-items: center;
    border-radius: 2rem;
    /* gap: 20rem; */
}
.tamanhoPadrao {
    height: 4rem;
}
.espacoLateral{
    margin-left: 0.8rem;
}
#elements{
    display: flex;
    flex-direction: column;
    gap:0.5rem;

}
#Text{
    min-width: 50%;
}
.tarefas{
    background-color: rgb(159, 161, 161);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid darkgrey;
    gap:200px;
}
.tarefasText{
    text-align: center;
}
.botaoEstilo{
    padding: 20px 30px;
    cursor: pointer;
}
.bordaPadrao{
    border-radius: 5px;
}
.estiloBotaoFechar{
    background-color: red;
    color: aliceblue;
}
.estiloBotaoAdd{
    background-color: green;
    color: aliceblue;
}